<%- include('head.ejs', { title: 'A propos' }) %>
<h1>A propos</h1>
<div class="apropos"></div>
<div class="blocks">
    <div class="text">
        <p>Ce site trouve ses origines dans les recherches généalogiques entreprises par Philippe Boutelier.</p>
        <p>La généalogie n’est pas pour lui une course à l’arbre le plus gros , il  préfère s’intéresser aux personnes et à leur vie. C’est ainsi que, en 2012, il se penche sur l’histoire de  Joseph Taylor, sauveteur du Dunkerquois, grand-oncle préféré de son père.
            ll s’aperçoit alors, à travers la carrière de ce sauveteur que  l’histoire de ces personnes d’exception (de Bray-Dunes à Grand-Fort-Philippe) dort dans les archives de la Bibliothèque Nationale de France.
            Il décide de mettre en lumière le parcours de ces hommes guidés par l’abnégation, l’humanisme et le courage,  avec un mépris indéniable pour les  risques encourus.</p>
        <p>D’abord hébergées par l’association Généalogie Histoire du Dunkerquois (GHDK), les données collectées ne peuvent cependant pas être suffisamment mises en valeur et ce sera la création du site  des « Sauveteurs du Dunkerquois », site indépendant permettant une interactivité entre les pages.</p>
        
        <p>Un premier site est développé mais est vite rattrapé par le volume des données disponibles. Un changement logiciel s’impose. Le 25 octobre 2021 celui-ci voit le jour.</p>
        <p>« Les Corsaires Dunkerquois » : l’association philanthropique dunkerquoise remarque ce travail de mémoire et passe une convention avec Philippe Boutelier de façon à couvrir les frais inhérents au site.
            Par cette convention, où l’association devient propriétaire du site, la pérennité mémorielle de l’histoire des sauveteurs du dunkerquois est assurée.</p>
        
        <p>La station SNSM de Dunkerque, en ouvrant  ses archives, contribue au développement de ce site.</p>
        <p>Philippe Boutelier est intégré à la station SNSM de Dunkerque avec le titre de sauveteur de mémoires.</p>
        
        <p>Ce travail n’a pu, ne peut et ne pourra être réalisé sans un réseau autour de Philippe Boutelier. Il faut citer Lysiane Varlet pour les travaux de relecture, Hélène Berthou, Régis Brunet pour les travaux de saisie des informations, Odile T’Servrancx pour les recherches aux archives, Alain Derenoncourt pour ses analyses maritimes des textes, Gérard Bollengier pour ses recherches généalogiques, les contributeurs de la page Facebook « Dunkerque et son histoire » ainsi que les descendants de sauveteurs qui ont bien voulu confier des documents familiaux pour monter les pages individuelles et abonder les récits du site.</p>
        <p>Monsieur Marcq du siège de la SNSM pour ses communications et ses réponses au questionnement du rédacteur.</p>
    </div>
    <div class="imgapropos">
        <img src="/img/logo_sauveteurs.png" alt="Logo Sauveteurs du Dunkerquois ">
        <img src="/img/logo_corsaires.png" alt="Logo Les Corsaires Dunkerquois ">
        <img src="/img/logo_snsm.png" alt="Logo SNSM ">
    </div>
</div>
<%- include('footer.ejs') %>