        <script>

const switchTheme = document.querySelector("#switch");

switchTheme.addEventListener("click", function () {
  document.body.classList.toggle("dark_mode");
});

        </script>
        </main>
    </body>
</html>
