        </main>
        <footer>
            <nav>
                <a href="/">Accueil</a>
                <a href="/historique">Historique</a>
                <a href="/apropos">À propos</a>
                <a href="/resultatsderecherche">Lien</a>
            </nav>
        </footer>
    </body>
</html>
