<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <aside>
            <h1>Sauveteurs du dunkerquois</h1>
            <form action="/search">
                <input type="search">
                <input type="submit" value="Rechercher" class="search">
            </form>
            <footer>
                <nav>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/historique">Historique</a></li>
                        <li><a href="/a-propos">À propos</a></li>
                        <li><a href="/admin/login">Connexion</a></li>
                    </ul>
                </nav>
            </footer>
        </aside>
        <main>
