<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <form action="/search">
            <input type="search">
            <input type="submit" value="Rechercher" class="search">
        </form>
        <nav>
            <a href="/">Accueil</a>
            <a href="/historique">Historique</a>
            <a href="/a-propos">À propos</a>
        </nav>
        <div class="menu"></div>
    </header>
    <main>