<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">

    </head>
    <body>
<<<<<<< HEAD
        <header>
            <nav>
                <a href="/">Accueil</a>
                <a href="/historique">Historique</a>
                <a href="/apropos">À propos</a>
                <a href="/resultatsderecherche">Lien</a>
                <a href="/editor">Editeur</a>
            </nav>
=======
        <aside>
            <h1>Sauveteurs du dunkerquois</h1>
>>>>>>> e5fff3ae64bfdb0faa06214846ad279293aa8e94
            <form action="/search">
                <input type="search">
                <input type="submit" value="Rechercher" class="search">
            </form>
<<<<<<< HEAD
        </header>
       <main>
=======
            <footer>
                <nav>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/historique">Historique</a></li>
                        <li><a href="/a-propos">À propos</a></li>
                        <li><a href="/admin/login">Connexion</a></li>
                    </ul>
                </nav>
            </footer>
        </aside>
        <main>
>>>>>>> e5fff3ae64bfdb0faa06214846ad279293aa8e94
