<%- include('head.ejs', { title: 'Accueil' }) %>
<div aria-hidden="true" class="hero"></div>
<h1>Sauveteurs du dunkerquois</h1>
<form action="/recherche">
    <input type="search">
    <input type="submit" value="Rechercher" class="search">
</form>
<a href="/article/new" class="button">Proposer un nouvel article</a>
<%- include('footer.ejs') %>
