<%- include('head.ejs', { title: 'Les acteurs' }) %>
<h1>Qui sont les sauveteurs</h1>
<p>Les sauveteurs en mer, en toute logique, avec toutefois de rares exceptions,  sont issus du monde maritime: pilotes, lamaneurs, gréeurs, marins de commerce, des feux-flottants, pêcheurs, etc. </p>
<p>Les patrons et sous-patrons de Dunkerque ont, en général issus,  des professions de pilote et de patron-lamaneur. Des exceptions avec Charles Lauwick tonnelier à bord des goélettes islandaises, Francois Tixier l’emblématique entrepreneur de lestage, Jules Aimé Conseil officier au long cours et officier de port</p>
<p>Les patrons et sous-patrons de Gravelines ont des professions de pilotes du port et de patrons pêcheurs locaux.</p>
<p>Les patrons et sous patron de Fort-Mardyck sont  issus du monde de la pêche.</p>
<p>Avec plus de 1300 personnes sauvées en moins d’un siècle il convient de ne pas oublier les sauveteurs présents sur les quais, les plages, près des watergands etc.… . Pour ces derniers on constate une forte présence des douaniers mais également d’éclusiers, et de personnes de toutes origines du médecin au journalier en passant par les enfants sauveteurs qui ne sont pas les derniers à faire preuve de courage.</p>
<p>Synthèse suivant le milieu d’origine</p>
<a href="/pilotage">PILOTAGE</a>
<%- include('footer.ejs') %>