<%- include('head.ejs', { title: 'Nos sauveteurs' }) %>
<p>Si tous nos sauveteurs n’ont pas eu la Légion d’Honneur, ils n’en ont pas moins mérité dans leurs multiples  sorties en mer ou dans leurs actes individuels.</p>
<p>La Société Humaine de Dunkerque, La Société Centrale de Sauvetage des Naufragés, la Société Nationale de Sauvetage en Mer, les pays étrangers, le Ministère de la Marine ou de l’Intérieur, l’Académie Française et bien d’autres  ont su les remercier en délivrant médailles, prix, objets et récompenses diverses  en fonction des actes réalisés.</p>
<p>Cette section comporte des fiches synthétiques sur les patronymes du  sauvetage – 1 page par patronyme quel que soit le nombre d’occurrences. Cette section ne peut s’alimenter qu’avec vos apports (Documents photos etc..) </p>
<p>Le patronyme peut pointer sur une fiche personnelle – L’éventuelle fiche patronymique est en attente</p>
<p>Les marins qui auront rempli les fonctions de sous-patron voire patron du canot de sauvetage  de manière ponctuelle seront aussi cités.</p>
<dl>
    <dt>A</dt>
    <dd>Agez</dd>
    <dt>B</dt>
    <dd>Barenne</dd>
    <dt>Z</t>
    <dd>...</dd>
</dl>
<%- include('footer.ejs') %>