<%- include('head.ejs', { title: 'Pilote et sauveteurs' }) %>
<h1>Pilotes et sauveteurs</h1>
<h2>De 1740 à 2000</h2>
<p>Actuel président de la station SNSM de Dunkerque, Alain Ledaguenel, pilote et ancien patron du canot, résume le métier dans cette citation</p>
<p>Le pilote est le premier et le dernier échelon de la chaîne portuaire</p>
<img src="/public/img/Corvette-Pilote-N°3.jpg" alt="Corvette de pilote n°3">
<img src="/public/img/Ancre-des-pilotes.png" alt="Ancre des pilotes">
<p>Le premier pilote dunkerquois dont nous trouvons la trace est Antoine Canny, pilote de la marine du Roy, avec Jean Bart puis avec le chevalier de Saint-Pol. C’était un pilote dit « entretenu » décédé lors d’un combat maritime en 1705.</p>
<p>Les premières bases du pilotage dunkerquois ouvert aux navires « dits de commerce » sont posées le 10 mars 1728. Le premier chef des pilotes à terre est Louis Buyck.</p>
<p>Il est établi qu’une corvette sera en permanence présente à l’entrée du port avec 8 pilotes relevés tous les 10 jours. Cette disposition évoluera dans le temps et en 1883, on arrivera à 4 corvettes de pilotage en faction au large du port de Dunkerque pour répondre aux demandes des navires pour être guidés dans les méandres des bancs de sable.</p>
<p>Cette présence continuelle en mer sera aussi profitable aux navires en difficulté. Ils trouveront chez les pilotes des hommes prêts à intervenir pour les assister et bien sûr les sortir de situations périlleuses , sauvant ainsi les équipages et, quand cela était réalisable, les navires.</p>
<p>Tout comme les lamaneurs qui faisaient partie, à l’origine, de la même entité, « les pilotes lamaneurs », la corporation sera endeuillée, plusieurs fois, par suite d’actes de courage et d’abnégation pour sauver des marins en péril.</p>
<p>Déjà, en 1739, dans le premier sauvetage recensé, celui du Saumon Couronné, on apprend que le pilote lamaneur présent à bord est ramené presque mourant au port.</p>
<p>On ne peut que mentionner la journée funeste du 28 janvier 1857 où , dans les tentatives pour sauver l’équipage des Trois Sœurs, les pilotes Mathias Bommelaer et Charles Louis Celle périront, avec Gaspard Neuts, sans oublier les pilotes Saveru, Ameloot, Fournier et le matelot pilote Gondol qui laisseront leur vie en voulant sauver leur prochain.</p>
<p>En étant de service les pilotes Vanraet, Bommelaer (Louis), Breynaert et Everaert seront victimes de fortunes de mer.</p>
<p>Tout comme chez les lamaneurs on remarque des familles liées au sauvetage comme les Bommelaer, Ficquet,  Delugny, Brunet (présents sur Gravelines et Dunkerque), Lepretre, Cordier ….</p>
<p>Aujourd’hui les pilotes sont toujours présents au sein de la SNSM. Au sein de la station de Dunkerque, dont le  patron titulaire est Emmanuel Pelletier, 30% des effectifs sont des pilotes ou des personnels associés au pilotage.</p>
<h2>Sauvetages opérés par les Pilotes</h2>
<p>Ils participent à 68 sauvetages avec leurs propres moyens maritimes (corvette, vapeur). </p>
<p>Sur 50 de ces sauvetages ou ils sont les seuls opérateurs ils ont sauvé 551 personnes et 22 équipages</p>
<p>1739- 1799  SAUMON COURONNE – Inconnu – CANOT PILOTE – PATRIARCHE JACOB -DILLON -DAME JEANNE -INCONNU -CHARBONNIER –1800 – 1824 ASSISTANCE -JOHANNA ELISABETH -JANVIER -Chaloupe du pilotage 1825 -1849  -RENARD -N°16 -JEUNE THERESE -EMMA -1850-1859 ELEUDE -ROYAL ALBERT -LAMANEUR N°12 (ou 6) –1860-1869 LANGE -PIERRE-JEANNE -VIRGINIE -INCONNU -Lougre pêche -EMMANUEL -JEANNE (La) -INCONNU -INCONNU -Crevettier -JEANNE -1870-1879 PROGRES -INCONNU  -PROGRES -Rock -MARIA -BON PASTEUR -LAMANEUR N°  2  1880-1889  -MARIE EUGENIE –1890 -1899 INCONNU -HERO -ODIN -TRITON -CANOT -1900 – 1949 PECHEUR G 1516 -GINETTE -INCONNU -BRIGHTON -MADELON –</p>
<p>Sous les bannières SNSM SCSN et SH</p>
<p>131 sorties en occupant les fonctions de patron ou sous-patron du canot de sauvetage.</p>
<p>32 pilotes de Dunkerque et Gravelines ont été patron ou sous-patron des canots de sauvetage</p>
<p>Jacques  Bommelaer – Matthias  Bommelaer – Auguste  Brunet – Edouard  Brunet – Joël  Brunet  – Jean  Caron – Pierre  Delugny – Antoine  Ficquet – Jean  Ficquet – Pierre  Ficquet – Jules  Fournier – Charles  Gossin – Emile  Hostens – Jacques  Jannekeyn – Antoine  Labat – Charles  Lavie – Charles  Lefebvre – François  Lepretre – Joseph  Lepretre– Pierre  Lepretre  – Pierre  Lepretre – Pierre  Marquette – Charles  Maryn –  Louis  Noedts – Joseph  Olivier – Armand  Schabanel – Claude  Vandendriessche – Auguste  Vanhille – François  Vanpraet -Luc Wallyn – Henri  Weus – Edouard  Whitehead</p>
<p>32 pilotes ou matelots pilotes ont armé les canots de sauvetage en qualité de canotiers</p>
<p>Jules Admont – Jean Aernoudts – Auguste Bocage – Melchior  Bolleman – Joseph  Bommelaer – Louis  Bommelaer – BenoÏt  Boone – Lucien  Caillez – Charles  Celle – Emile  Claeyssen – François  Cordier – Philippe  Cordier – Jean  Dauphin – Pierre  Delugny – Antoine  Deman – Pierre  Ficquet – E.  Hendricksen Eugène Lemaire – Joseph Lemaire – Emile  Maryn – Vincent  Mazo – Alexandre  Meret – Jacques  Morisot – Jean  Noedts – Augustin  Pillaert – Jules  Rivet – Jacques  Roose – Jean  Rots – Philippe  Sailly – Henri  Versaelle – Pierre  Weins –   Zoonekindt</p>
<p>7 pilotes cumulent plus de 20 sorties en mer ( canots et  moyens maritimes du pilotage.)</p>
<ul>
    <li>Auguste Brunet     45 sorties en mer</li>
    <li>Charles Lavie      33 sorties en mer  et 13 sauvetages individuels</li>
    <li>Edouard Brunet     30 sorties en mer</li>
    <li>Pierre Lepretre    27 sorties en mer</li>
    <li>Pierre Ficquet     26 sorties en mer</li>
    <li>Charles Gossin     25 sorties en mer</li>
    <li>Jacques Bommelaer  21 sorties en mer</li>
</ul>
<%- include('footer.ejs') %>