<%- include('head.ejs', { title: 'Presse' }) %>
<h1>Ils parlent de nous !</h1>
<h2>La Voix du Nord du 15 novembre 2021</h2>
<img src="/img/Presse-15-novembre-2021.jpg" alt="Presse du 15 novembre 2021">
<h2>L'émission d'Antoine Quaghebeur'</h2>
<h2>Les archives d'un buveur de bière, mardi 26 octobre 2021</h2>
<img src="/img/Presse-26-octobre-2021.jpg" alt="Podcast d'Antoine Quaghebeur" href="https://www.mixcloud.com/Radiouylenspiegel/les-archives-dun-buveur-de-bi%C3%A8res-mardi-26-octobre-2021/">
<h2>La Voix du Nord du 3 octobre 2021</h2>
<img src="/img/Presse-3-octobre-2021.jpg" alt="Presse du 3 octobre 2021">
<h2>La Voix du Nord du 3 octobre 2019</h2>
<img src="/img/Presse-3-octobre-2019.jpg" alt="Presse du 3 octobre 2019">
<%- include('footer.ejs') %>