<%- include('head.ejs', { title: 'Tableau d\'honneur' }) %>
<p>Quel dunkerquois n’a jamais lu les plaques commémoratives  apposées sur notre Leughenaer?</p>
<p>Sur cette page on trouvera les sauveteurs décorés de  la Légion  d’Honneur et ou du Mérite Maritime pour services rendus.</p>
<p>La deuxième plaque apposée par les soins de la Société Humaine de Dunkerque rend hommage aux trois pilotes décédés dans le naufrage des TROIS SOEURS. La deuxième partie est un hommage à Jean-François Tixier sauveteur émérite des premières années de la société et qui perdra la vie en voulant sauver son prochain.</p>
<p>La station de Gravelines a aussi des sauveteurs qui ont été remerciés par l’attribution de la Légion d’Honneur.</p>
<p>Les légionnaires et titulaires du Mérite Maritime ont souvent été patron ou sous-patron des canots de sauvetage, patron de remorqueur, etc.</p>
<p>Ces fonctions et les défraiements qui leur sont liés ont été définis dès la création de la SCSN. Extrait du réglement ici .</p>
<p>Membres fondateurs de la Société Humaine de Dunkerque :</p>
<ul>
    <li>Benjamin Morel</li>
    <li>Jean Joseph Carlier </li>
    <li>Albert Benteu</li>
    <li>...</li>
</ul>
<img src="/img/Plaque-Leughenaer.jpg" alt="Plaque de marbre apposée sur la tour du Leughenaer">
<p>Plaque de marbre apposée sur la tour du Leughenaer</p>
<%- include('footer.ejs') %>