@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Playfair+Display:ital@0;1&display=swap');

$gray: #dadada;
$white: white;
$black: black;
$orange: rgb(194, 143, 47);
$accent: rgb(80, 100, 200);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
}

main {
    margin: 7rem auto;
    width: clamp(600px, 70ch, 95vw);
}

form {
    display: flex;
    margin: 1rem;
}

input {
    padding: 0.5rem;
}

input[type="search"] {
    flex: 1;
}

input[type="submit"] {
    background: $accent;
    border: none;
    color: $white;
}

.flex_container {
    display: flex;
}

.flex_container > div {
    flex : 1;
    text-align: center;
    margin : 10px;
    padding: 20px;
    background-color: rgb(215, 217, 223);
}

.apropos {
    display: flex;
}

.blocks {
    display: flex;
}

.text {
    margin-left: -200px;
    width: 1200px;
}

h1 {
    text-align: center;
    margin: 25px;
}

.imgapropos {
    float: right;
}

.imgapropos > img {
    width: 150px;
    margin-top: 100px;
    padding-bottom: 100px;
}

aside {
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    top: 0;
    bottom: 0;
    border-right: 2px solid $gray;
    padding: 1rem 0;

    ul {
        list-style: none;
        li {
            transition: background 0.1s ease-in;
            &:hover {
                background: $gray;
            }
        }
        a, a:visited {
            padding: 1rem;
            display: block;
            width: 100%;
            color: $black;
            text-decoration: none;
        }
    }
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
