@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Playfair+Display:ital@0;1&display=swap');

$gray: #dadada;
$white: white;
$black: black;
$accent: rgb(80, 100, 200);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
}

header {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid $gray;
    padding: 1rem;
    justify-content: space-between;
    display: flex;

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    a, a:visited {
        text-decoration: none;
        color: $black;
    }
}

main {
    margin: 2rem auto;
    width: clamp(600px, 70ch, 95vw);
}

input {
    padding: 0.5rem;
}

input[type="submit"] {
    background: $accent;
    border: none;
    color: $white;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
